@import "../../../../shared/styles/variables";

.address-tier-calculator {
  width: 500px;
  margin-top: $margin-sm;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.address-field-wrapper {
  flex: 3 0 auto;
  position: relative;
}

.tier-display-wrapper {
  flex: 1 0 auto;
}

.address-status-message {
  position: absolute;
  bottom: -25;
  color: $col-app-gray;
  font-size: 90%;
  font-style: italic;
}

