$col-no-effort:#B0413E;
$col-low-effort:#FC9744; 
$col-normal-effort:#000000;
$col-high-effort:#A3C44A;
$col-very-high-effort:#57AD35;

.grade-change-selector {
  // reset <select> style
  padding: 5px;
  font-size: 100%;
  text-align: center;
}

.grade-change-selector > option {
  text-align: center;

}

.grade-change-selector.downALot {
  color: $col-no-effort;
}
.grade-change-selector.down {
  color: $col-low-effort;
}
.grade-change-selector.noChange {
  color: $col-normal-effort;
}
.grade-change-selector.up {
  color: $col-high-effort;
}
.grade-change-selector.upALot {
  color: $col-very-high-effort;
}
