@import "../../../shared/styles/variables";

.report-card {
  width: 350px;

  border: $border-light;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: flex-start;
  overflow-y: hidden;

  box-shadow: $box-shadow-z5;
  
  background: url("../../../shared/images/linedpaper.png");
}

.report-card-header {
  width: 100%;
  font-size: 125%;
  padding: 0.5em 1em;
  border-bottom: $border-light;
  text-align: center;
}

.report-card-student-field {
  width: 100%;
  font-size: 70%;
  text-align: center;
  margin: 0.5em 0;
}

.report-card-student-label {
  color: $col-app-gray; 
  font-size: 90%;
}

.report-card-student-name {
  border-bottom: $border-light;
}

.report-card > .score-group {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-bottom: 1em;
}

.report-card > .score-group.nwea {
}

.report-card > .score-group.subject-grades{
}

.score-group-label{
  font-size: 70%;
  color: $col-app-gray-dark;
  border-bottom: $border-light; 
  margin-bottom: 0.5em;
  margin-top: 1.5em;

}
