@import "../../../shared/styles/variables";

.report-card {
  width: 350px;

  display: flex;
  flex-direction: column;
  align-items: end; 
  justify-content: flex-start;

  overflow-y: hidden;
}

.report-card > .score-group {
  box-shadow: $box-shadow-z2;
  border: $border-light;
  width: 100%;
  padding: 1.5em;
}

.report-card > .score-group.nwea {
}

.report-card > .score-group.subject-grades{
}

.score-group-label{
  font-size: 70%;
  color: $col-app-gray-dark;
  border-bottom: $border-light; 
  margin-bottom: 0.5em;
  margin-top: 1.5em;

}
