@import "../../../shared/styles/variables";
@import "../../../shared/styles/spinning-load-icon";

.student-data-form {
  width: 100%;
  overflow-y: auto;
}

.student-data-form-subform {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
}

.student-data-form-group {
  max-width: 300px;
  flex: 1 1 auto;
}

.student-data-form-header {
  margin: 1em;
  font-size: 175%;
}

.student-data-form-subheader {
  font-size: 150%;
  border-bottom: $border-light;
  margin: 0.75em;
}

