@import '../../../shared/styles/variables';

.window-switcher-container {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.window-switcher {
  position: absolute;
  top: 0;
  height: 200%;
  width: 100%;
  transition: transform 800ms ease;
}

.window {
  height: 47.5%;
  width: 100%;
}
.window-switcher-button{
  height: 5%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: $col-app-gray-light;

  transition: background-color 175ms ease;
}

.window-switcher-button:hover {
  background-color: $col-app-1;
}

.window-switcher-button:hover {

}

.window-switcher.window-a-active {
  transform: translateY(0);
}

.window-switcher.window-b-active {
  transform: translateY(-50%);
}
