@import "../../../../../shared/styles/variables";

.score-change-button {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  border-radius: 100%;
  background: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  transition: box-shadow 50ms ease,
              transform 50ms ease;
}

.score-change-button:hover {
  box-shadow: 0 4px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transform: scale(1.05);
}

.score-change-button:active {
  box-shadow: $box-shadow-none;
  transform: scale(0.97);
}
