#virtual environments
venv
.env

#python notebook files
__pycache__
*.pyc

# python notebooks
*.ipynb
.ipynb_checkpoints


#student data
*.sqlite3
dev-db.sqlite3
ontrack/student_data/**/*
student-data

#os files
*/.DS_Store
.DS_Store
.DS_Store?
