appnope==0.1.0
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
backports.ssl-match-hostname==3.5.0.1
bokeh==0.12.1
cairocffi==0.7.2
CairoSVG==1.0.22
certifi==2016.8.8
cffi==1.8.3
configparser==3.5.0
cssselect==1.0.0
cycler==0.10.0
decorator==4.0.10
dj-database-url==0.4.1
Django==1.10
django-allauth==0.27.0
django-extensions==1.7.2
django-google-maps==0.6.0
django-webpack-loader==0.4.1
djangorestframework==3.6.2
entrypoints==0.2.2
functools32==3.2.3.post2
futures==3.0.5
gunicorn==19.6.0
gviz_api==1.9.0
gviz-data-table==1.0.2
html5lib==0.999999999
ipykernel==4.4.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==5.2.2
Jinja2==2.8
jsonpickle==0.9.3
jsonschema==2.5.1
jupyter==1.0.0
jupyter-client==4.3.0
jupyter-console==5.0.0
jupyter-core==4.1.1
lxml==3.6.4
MarkupSafe==0.23
matplotlib==2.0.0
mistune==0.7.3
nbconvert==4.2.0
nbformat==4.1.0
notebook==4.2.2
numpy==1.11.1
oauthlib==2.0.0
pandas==0.18.1
pathlib2==2.1.0
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
Pillow==3.3.1
prompt-toolkit==1.0.7
ptyprocess==0.5.1
pycparser==2.17
Pygments==2.1.3
PyJWT==1.4.2
pyparsing==2.2.0
Pyphen==0.9.4
python-dateutil==2.5.3
python-openid==2.2.5
python-social-auth==0.2.21
pytz==2016.6.1
PyYAML==3.11
pyzmq==15.4.0
qtconsole==4.2.1
requests==2.11.1
requests-oauthlib==0.6.2
simplegeneric==0.8.1
simplejson==3.8.2
singledispatch==3.4.0.3
six==1.10.0
stevedore==1.17.1
subprocess32==3.2.7
terminado==0.6
tinycss==0.3
tornado==4.4.1
traitlets==4.2.2
virtualenv==15.0.3
virtualenv-clone==0.2.6
wcwidth==0.1.7
WeasyPrint==0.31
webencodings==0.5
whitenoise==3.2.1
widgetsnbextension==1.2.6
xlrd==1.0.0
XlsxWriter==0.9.6
