@import "super-form-reset";

.field-container {
  
  padding: 0.5em;
  margin: 0.25em;

}

.field-container.field-validation-success {

  > .field-label {
    color: green;
  }

  > .field-input-element {
    border: 2px solid green;
    box-shadow: 4px 4px 4px green;
  }

}

.field-container.field-validation-warning {

  > .field-label {
    color: yellow;
  }

  > .field-input-element {
    border: 2px solid yellow;
    box-shadow: 4px 4px 4px green;
  }

}

.field-container.field-validation-failure {

  > .field-label {
    color: red;
  }

  > .field-input-element {
    border: 2px solid red;
    box-shadow: 4px 4px 4px green;
  }

}

.field-container.field-validation-neutral {

}

.field-label {
  font-size: 90%;
  color: #333;
}

.field-input-element {

}

.list-box {
  visibility: hidden;

  height: 100px; 
  width: 100%; 
  overflow-y: auto; 
  position: absolute; 
  // todo we need to figure out a better way to position list elem in right place
  top: 20px; 
  left: 0;
  z-index: 9;
  list-style: none;
  margin: 0;
  padding: 0;

  .visible {
    visibility: visible;
  }
}

.list-box-element {

  cursor: default;
  text-decoration: none;
  margin-left: none;
  padding-left: none;

  padding: 0.25em;

  width: 100%;
  border-bottom: 1px dotted gray;
  background-color: white;
  transition: background-color 100ms ease;

  :hover {
    background-color: gray;
  }

  .selected {
    background-color: blue;
    color: white;
  }
}

