@import "../../../shared/styles/variables";

.hs-additional-requirement {
  flex: 1 0 auto;
  padding: 0.5em;
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
}

.hs-additional-requirement-label {
  text-align: center;
  font-size: 70%;
  color: $col-app-gray-dark;
  border-bottom: $border-light; 
}

.hs-additional-requirement-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
} 

.hs-additional-requirement-description {
  font-size: 70%;
}

.hs-additional-requirement-link {

}

.hs-additional-requirement-input-container {
  width: 250px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-right: 0.5em;
}

.hs-additional-requirement-input {
  width: 100%;
  text-align: center;
  font-size: 150%;
}

.hs-additional-requirement-label {
  text-align: center;
  font-size: 70%;
  color: $col-app-gray-dark;
  border-bottom: $border-light; 
}

.requirement-change-button-container {
  margin-left: 0.25em;
  width: 24px;
}


.requirement-change-button {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  border-radius: 100%;
  background: none;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

  transition: box-shadow 50ms ease,
              transform 50ms ease;
}

.requirement-change-button:hover {
  box-shadow: 0 4px 2px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transform: scale(1.05);
}

.requirement-change-button:active {
  box-shadow: $box-shadow-none;
  transform: scale(0.97);
}
