@import "../../../shared/styles/variables";

.hs-list-element {
  position: relative;

  margin: 0.5em;
  width: 45px;
  height: 45px;
  padding-top: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid $col-app-gray; 
  border-radius: 100%;

  background-color: lighten($col-app-gray-light, 15%);

  box-shadow: $box-shadow-z4;
}

.hs-list-element.disabled {
  box-shadow: $box-shadow-z2;
  color: $col-app-gray;
}


.hs-list-element.active-outline {
  transform: scale(1.1);
  border: 5px solid $col-app-1;
}

.hs-list-element-icon {

}

.hs-list-element-initials {
  line-height: 1em;
}
