@import "../../../shared/styles/variables";

$col-succ-certain: #5bed2a;
$col-succ-likely: #beee40;
$col-succ-uncertain: #fde74c;
$col-succ-unlikely: #f4743b;
$col-succ-none: #eee;
$col-succ-not-implemented: #eee;

$hs-list-element-icon-size: 470px 470px;

.hs-list-element {
  position: relative;

  margin: 0.5em;
  width: 45px;
  height: 45px;
  padding-top: 2px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border: 2px solid $col-app-gray; 
  border-radius: 100%;

  background-size: $hs-list-element-icon-size;
  background: url("../../../shared/images/school.svg");

  box-shadow: $box-shadow-z1;
}

// Certain success
.hs-list-element.succ-certain {
  transform: scale(1.1);
  background-color: lighten($col-succ-certain, 10%);
  border: 5px solid $col-succ-certain;
}

// Likely success
.hs-list-element.succ-likely {
  background-color: lighten($col-succ-likely, 10%);
  border: 3px solid $col-succ-likely;
}

// Uncertain success
.hs-list-element.succ-uncertain {
  background-color: lighten($col-succ-uncertain, 10%);
  border: 2px solid $col-succ-uncertain;
}

// Unlikely success
.hs-list-element.succ-unlikely {
  background-color: lighten($col-succ-unlikely, 10%);
  border: 1px solid $col-succ-unlikely;
}

// No chance of success
.hs-list-element.succ-none {
  background-color: lighten($col-succ-none, 10%);
  border: 2px dashed $col-succ-none; 
  box-shadow: $box-shadow-none;
  color: $col-app-gray;
}

// Not implemented
.hs-list-element.succ-not-implemented {
  color: #aaa;
  background-color: #eee;
  box-shadow: $box-shadow-none;
  border: 2px dashed #999;
}

.hs-list-element-icon {

}

.hs-list-element-initials {
  display: none;
  line-height: 1em;
}
