{% extends 'student/base.html' %}
{% load static %}

{% block content %}
  <div id="page-container">

  <h1>{{title}} Students</h1>
    {% for student, data in hr_dict.items %}
  <a href={% url 'show_student' student_id=data.student_id %}>
        <div class="row">
          <div class="col-sm-2">
            OnTrack:  {{data.onTrack}}
          </div>
          <div class="col-sm-3">
            Name:  {{ data.first_name }} {{ data.last_name }}
          </div>
          <div class="col-sm-2">
             GPA:   {{ data.gpa }}

          </div>
          <div class="col-sm-2">
             Attendance:  {{data.attend_pct}}
          </div>

        </div>
     </a>
    {% endfor %}

  </div>
{% endblock %}
