{% extends 'student/base.html' %}
{% load static %}
{% block extra_head_content  %}
    {{ block.super }}
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.js"></script>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.0.min.css"
    rel="stylesheet" type="text/css">
    <script type='text/javascript' src='http://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1.1', {'packages':['corechart']});


      google.setOnLoadCallback(drawGradesChart)

      function drawGradesChart() {
        var data = new google.visualization.DataTable({{all_grades_json|safe}});
        var chart = new google.visualization.LineChart(document.getElementById('grades_chart_div'));

        var options = {
          title : "Grades over Time",
          lineWidth: 6,
        };

        chart.draw(data, options);
      }

      google.setOnLoadCallback(drawGPAChart)

      function drawGPAChart() {
        var data = new google.visualization.DataTable({{gpa_json_data|safe}});
        var chart = new google.visualization.LineChart(document.getElementById('gpa_chart_div'));

        var options = {
          title : "GPA over Time",
          lineWidth: 6,
        };

        chart.draw(data, options);
      }


    </script>
    <script type='text/javascript'>
      $(document).ready(function() {
        $(".student-grade").click(function() {
          var $this = $(this);
          $this.toggleClass("cumulative");
          if ($this.hasClass("cumulative")) {
              $this.html("{{fake_cum_grade}}");
          } else {
              $this.html("78");
          }
        });
      });
    </script>
{% endblock %}

{% block content %}
<div id="page-container">

  <div class="row student-name">
    <a href={% url 'show_student' %}>
        <h2>
          {{current_student.first_name}} {{current_student.last_name}}
        </h2>
    </a>
  </div>



  <div class="row" id="student-facing-grades">
      {% for key, value in current_grades_dict.items %}
      <div class="col-sm-3 grade-box">
          <div class="row">
            <h4 class="subject-heading">{{key}}</h4>
          </div>
          <div class="row icon-grade-box">
              <div class="col-sm-6 icon-img-box">
                <img class="subject-icon" src=
              {% with "student/"|add:value.image as image_static %}
                {% static image_static %}
              {% endwith %} alt="subject-icon"/>
              </div>
              <div class="col-sm-6">
              <p class="student-grade cumulative">{{value.grade}} </p>
              </div>
          </div>
      </div>
      {% endfor %}<!--end grade divs-->
    </div><!--end first row-->


    <div class="google-chart" id='grades_chart_div' style='width: 900px; height: 500px;'></div>
    <div class="google-chart" id='gpa_chart_div' style='width: 900px; height: 500px;'></div>

</div>




{% endblock %}
