{% extends 'student/base.html' %}
{% load static %}



{% block content %}
<div id="page-container">

  <div class="row student-name">
    <a href={% url 'show_student' student_id=student_id  %}>
        <h2>
          {{current_student.first_name}} {{current_student.last_name}}
        </h2>
    </a>
  </div>


<div class="col-md-4">
  <h3>Selective Enrollment</h3>
    {% for key, value in hs_dict.items %}
      {% if value.school_type == "SES" %}
      <div class="row high-school-list">
        <div class="col-md-8">
          <a href={{value.website}}>
            <img class="hs-logo" src="{{STATIC_URL}}student/images/hs-logos/{{value.short_name}}-default-logo.png " alt="hs-logo"/ />
          </a>
        </div>
        <div class="col-md-4">
        {% if value.RemainingPts == "Eligible" %}
          <img class="hs-pts-status" src="{{STATIC_URL}}student/images/checkmark.png " alt="checkmark" />
        {% elif value.RemainingPts < 100 %}
          <img class="hs-pts-status" src="{{STATIC_URL}}student/images/orange-close.png " alt="orange-close" />
        {% else %}
          <img class="hs-pts-status" src="{{STATIC_URL}}student/images/red-x.png " alt="red x" />
        {% endif %}
        </div>
      </div>
      {% endif %}
    {% endfor%}
</div>

<div class="col-md-4">
<h3>IB Schools</h3>
{% for key, value in hs_dict.items %}
  {% if value.school_type == "IB" %}
  <div class="row high-school-list" height=400px>
    <div class="col-md-8">
      <a href={{value.website}}>
      <img class="hs-logo" src="{{STATIC_URL}}student/images/hs-logos/{{value.short_name}}-default-logo.png " alt="hs-logo" />
    </a>
    </div>
    <div class="col-md-4">
    {% if value.RemainingPts == "Eligible" %}
      <img class="hs-pts-status" src="{{STATIC_URL}}student/images/checkmark.png " alt="checkmark" />
    {% elif value.RemainingPts < 100 %}
      <img class="hs-pts-status" src="{{STATIC_URL}}student/images/orange-close.png " alt="orange-close" />
    {% else %}
      <img class="hs-pts-status" src="{{STATIC_URL}}student/images/red-x.png " alt="red x" />
    {% endif %}
    </div>
  </div>
  {% endif %}
{% endfor%}
</div>

{% endblock %}
