{% extends 'student/base.html' %}
{% load static %}
{% block extra_head_content  %}
<script type='text/javascript'>

  function calcGrade()  {
      document.getElementById("ses-pts").innerHTML = "SES: 292";
      document.getElementById("ib-pts").innerHTML = "IB: 301";
      }

</script>
{% endblock %}



{% block content %}
<div id="page-container">

  <div class="row student-name">
    <a href={% url 'show_student'  %}>
        <h2>
          {{current_student.first_name}} {{current_student.last_name}}
        </h2>
    </a>
  </div>

  <div class="row student-name">
     <div class=col-sm-4>
       <h2>
         High School Calculator
       </h2>
     </div>
    <div class=col-sm-4>
        <img class="subject-icon" src="https://www.iconexperience.com/_img/i_collection_png/512x512/plain/calculator.png"/ >
    </div>
    <div class=col-sm-4>

    </div>
  </div>

  <div class="row">


    <div class=col-sm-4>
      <div id="calc">
        <form id ="calc" action="" onsubmit="calcGrade()">
          <h4>Math<input type="number" name="math_grade" value=78></h4>
          <h4>ELA<input type="number" name="ela_grade" value=86></h4>
          <h4>Science<input type="number" name="science_grade" value=88></h4>
          <h4>Social Studies<input type="number" name="science_grade" value=92></h4>
          <h4>NWEA Math %<input type="number" name="nwea_math" value=72></h4>
          <h4>NWEA Reading %<input type="number" name="nwea_reading" value=79></h4>
          <h4>Entrance Exam %<input type="number" name="exam_score" value=89></h4>
          <h4>Tier
          <input list="tiers" name="tiers">
          <datalist id="tiers">
            <option value="1">
            <option value="2" selected>
            <option value="3">
            <option value="4">
            <option value="5">
          </datalist>
          </h4>
          <input type="submit">
        </form>
      </div>
    </div>
    <div class=col-sm-4>
      <h1></h1>
      <h1></h1>
      <h3 id ="ses-pts">SES: 278</h3>
      <h3 id ="ib-pts">IB: 286</h3>
    </div>


  </div><!--end second row-->




</div>


{% endblock %}
