{% extends 'student/base.html' %}
{% block extra_head_content  %}
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}student/css/hr_summary.css" />
    {{ block.super }}


    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
       google.charts.load('current', {'packages':['corechart', 'table', 'gauge']});


      //summary table
      google.charts.setOnLoadCallback(drawSummaryTable);

      function drawSummaryTable() {
        var data = new google.visualization.DataTable({{summary_gviz_json|safe}});
        var table = new google.visualization.Table(document.getElementById('summary_table_div'));
        var view = new google.visualization.DataView(data);
        table.draw(view, {allowHtml: true, width: '100%', height: '100%'});
      }

      //individual assignments table
      google.charts.setOnLoadCallback(drawAssignmentTable);

      function drawAssignmentTable() {
        var data = new google.visualization.DataTable({{assign_gviz_json|safe}});
        var table = new google.visualization.Table(document.getElementById('assign_table_div'));
        var view = new google.visualization.DataView(data);
        table.draw(view, {allowHtml: true, width: '100%', height: '100%'});
      }




      ///gauge

      google.charts.setOnLoadCallback(drawGagueCharts);

      function drawGagueCharts() {


        var data = google.visualization.arrayToDataTable([
          ['Label', 'Value'],
          ['Syllabus %', 0]
        ]);

        var options = {
          width: 400, height: 220,
          redFrom: 0, redTo: 50,
          yellowFrom: 50, yellowTo: 80,
          greenFrom: 80, greenTo: 100,
          minorTicks: 5
        };

        var chart = new google.visualization.Gauge(document.getElementById('chart_div'));

        chart.draw(data, options);


        setTimeout(function() {
          data.setValue(0, 1, {{curJiJi}}/4);
          chart.draw(data, options);
          setTimeout(function() {
            data.setValue(0, 1, {{curJiJi}}/2);
            chart.draw(data, options);
            setTimeout(function() {
              data.setValue(0, 1, {{curJiJi}});
              chart.draw(data, options);
            }, 500);
          }, 500);
        }, 2000);




      }

      //jiji Progress

      google.charts.setOnLoadCallback(drawJiJiChart);

      function drawJiJiChart() {
        var data = new google.visualization.DataTable({{stmath_gviz_json|safe}});
        var chart = new google.visualization.LineChart(document.getElementById('jiji_chart_div'));

        var options = {
          title : "STMath Progress over Time",
          lineWidth: 6,
        };

        chart.draw(data, options);

      }

    </script>

{% endblock %}


{% block content %}
<div id="page-container">
  <div class="row student-name">
    <a href={% url 'show_student' student_id=student.student_id %}>
        <h2>
          {{student.first_name}} {{student.last_name}}
        </h2>
    </a>
  </div>
  {% if summary_gviz_json %}
    <h3>Assignment Summary</h3>
    <div id='summary_table_div'>
    </div>

    <h3>Assignment Details</h3>
    <div id='assign_table_div'>
    </div>

  {% else %}
  <p>
    No student assignments for current quarter
  </p>
  {% endif %}
  {% if stmath_gviz_json %}
    <h3>JiJi Progress Over Time</h3>
    <div class="row">
      <div class="col-sm-4">
        <img src="http://www.k5friends.com/wp-content/uploads/et_temp/jiji-39994_307x195.jpg"/>
      </div>
      <div class="col-sm-8">
        <div  id='jiji_chart_div'>
        </div>
      </div>
    </div>
    <h3>JiJi Progress</h3>
    <div id='chart_div'>
    </div>
  {% endif %}


</div>




{% endblock %}
