{% extends 'student/base.html' %}
{% load static %}

{% block content %}
<h4>{{upload_message}}</h4>
{% if display_form != "" %}
<div class="file-upload-container">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p style="text-align: left">
      Currently taking Attendance and Grades files.
      <br/>
      Make sure "Grade" and "Attend" are part of the file names
    </p>
    {{display_form.as_p}}
    <br />
    <button type="submit">Upload</button>
  </form>
</div>
{% endif %}




{% endblock %}
