@import "../../styles/variables";

.field-container{
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: flex-start;

}

.label-text{
  flex: 0 0 10px;
  font-size: 80%;
  color: $text-gray;
  text-align: center;
}
