@import "../../../../shared/styles/variables";

.spinning-load-icon,
.spinning-load-icon:after {
  border-radius: 50%;
  width: 2em;
  height: 2em;
}
.spinning-load-icon {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 4px solid $col-app-1;
  border-right: 4px solid $col-app-1;
  border-bottom: 4px solid $col-app-1;
  border-left: 2px solid #ffffff;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 4px solid $col-app-1;
    border-right: 4px solid $col-app-1;
    border-bottom: 4px solid $col-app-1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 4px solid $col-app-2;
    border-right: 4px solid $col-app-2;
    border-bottom: 4px solid $col-app-2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 4px solid $col-app-1;
    border-right: 4px solid $col-app-1;
    border-bottom: 4px solid $col-app-1;
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border-top: 4px solid $col-app-1;
    border-right: 4px solid $col-app-1;
    border-bottom: 4px solid $col-app-1;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top: 4px solid $col-app-2;
    border-right: 4px solid $col-app-2;
    border-bottom: 4px solid $col-app-2;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border-top: 4px solid $col-app-1;
    border-right: 4px solid $col-app-1;
    border-bottom: 4px solid $col-app-1;
  }
}
