$border-radius-med:  12px;
$border-radius-lg: 20px;

$col-app-neutral: #fafafd;
$col-app-gray-light: #cacaca;
$col-app-gray-dark: #6a6a6a;
$col-app-gray: #9e9e9e;
$col-app-1:  #95e57a;

$text-black: #111;
$text-grey: #777;
$text-light-grey: #AAA;

$margin-med: 1em;
