p{
  text-align: center;
  font-family: font-family: 'Raleway', sans-serif;
  color: grey;
}

div {
  height : 100%;
}
h2, h3, h4, h1, h5 {

  font-family: 'Oswald', sans-serif;
  font-weight: bold;
}

.subject-heading {
  color: navy;
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;
}



.google-chart{
    margin: 0 auto;
}


.subject-icon{
  width: 100%;
  height: auto;
  max-height: 150px;
  -webkit-filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%); /* Chrome, Safari, Opera */
    filter: saturate(0%) grayscale(100%) brightness(69%) contrast(1000%);
}

.vert-helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.checkmark{
  width: 50%;
  height: 50%;
  display:block;
  margin:auto;
  max-height: 150px;
  vertical-align: middle;
}



#student-facing-grades{
  border: black solid 3px;
}

#student-facing-grades .student-grade {
  color: black;
  font-size: 4em;


}
